NODE_ENV=production
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/thesis-monitoring?retryWrites=true&w=majority
JWT_SECRET=your-secret-key-here (ganti-dengan-random-string